@charset "utf-8";

.main{text-align: center;}
.main_inner{width: 1000px;margin: 0px auto;text-align: left;}


.mi_content{background:#EEF9FF;border: 1px solid #E4F3FD;text-align: center;padding-top: 20px;padding-bottom: 40px;}
.mi_content a.micpay_status{display: block;height:70px;line-height: 70px;background: url(../img/order_pay_success.png) no-repeat 400px center;font-size: 26px;color: #FF6600;text-align: center;text-indent: 7em;}
	.mic_orderinfo{border-top: 1px solid #CFF0FF;border-bottom: 1px solid #CFF0FF;background: #D3EFFE;height: 40px;line-height: 40px;}
	.mic_orderinfo *{font-size: 16px;}	
	.mic_orderinfo strong{color: #F22D00;}
	.mic_btns a{display: inline-block;padding: 5px 15px;background: #F22D00;margin: 20px auto;color: #FFFFFF;font-weight: bold;}
	.mic_tips b{color: #F22D00;}


.shopping_recommend{}
.shopping_recommend h2{height: 30px;line-height: 30px;border-bottom: 2px solid #D3D3D3;text-indent: 2em;}
.sr_content{}
	.mifc_block{width: 218px;text-align: center;margin: 10px 15px;float: left;border: 1px solid #F2F2F2;}
	.mifc_block:hover{
	background-color: #ffffff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 8px #d3d3d3;
	-webkit-box-shadow: 0px 0px 8px #d3d3d3;
	box-shadow: 0px 0px 8px #d3d3d3;
	}
	.mifc_block dl dt a img{display: inline-block;width: 200px;height: 200px;margin-top: 10px;margin-bottom: 10px;}
	.mifc_block dl dd{width: 200px;margin: 5px auto;;}
	
	.mifc_block dl dd a.mifcb_collect_btn{display: inline-block;padding:5px 10px;border: 1px solid #F2F2F2;background: url(../../page_goods/img/collect_goods.png) no-repeat 10px center;text-indent: 2.5em;font-size: 11px;float: left;}
	.mifc_block dl dd a.mifcb_collect_btn:hover{
	-moz-box-shadow: 0px 0px 8px #d3d3d3;
	-webkit-box-shadow: 0px 0px 8px #d3d3d3;
	box-shadow: 0px 0px 8px #d3d3d3;
	}
	.mifc_block dl dd a.mifcb_addtocart_btn{display: inline-block;padding:5px 10px;border: 1px solid #F2F2F2;background: url(../../page_goods/img/add_to_cart_btn_bg.png) no-repeat 10px center;text-indent: 2.5em;font-size: 11px;float: right;}
	.mifc_block dl dd a.mifcb_addtocart_btn:hover{
		background-image: url(../../page_goods/img/add_to_cart_btn_bg_active.png);
	-moz-box-shadow: 0px 0px 8px #d3d3d3;
	-webkit-box-shadow: 0px 0px 8px #d3d3d3;
	box-shadow: 0px 0px 8px #d3d3d3;
	}


























