@charset "utf-8";
.main{text-align: center;}
.main_inner{width: 1000px;margin: 0px auto;text-align: left;}
.main_inner h5{height:40px;line-height: 40px;font-size: 20px;border-bottom: 2px solid #D3D3D3;text-indent:1em;}
.mif_content{}
	.mifc_block{width: 218px;text-align: center;margin: 10px 15px;float: left;border: 1px solid #F2F2F2;}
	.mifc_block:hover{
	background-color: #ffffff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 8px #d3d3d3;
	-webkit-box-shadow: 0px 0px 8px #d3d3d3;
	box-shadow: 0px 0px 8px #d3d3d3;
	}
	.mifc_block dl dt a img{display: inline-block;width: 200px;height: 200px;margin-top: 10px;margin-bottom: 10px;}
	.mifc_block dl dd{width: 200px;margin: 5px auto;;}
	
	.mifc_block dl dd a.mifcb_collect_btn{display: inline-block;padding:5px 10px;border: 1px solid #F2F2F2;background: url(../img/collect_goods.png) no-repeat 10px center;text-indent: 2.5em;font-size: 11px;float: left;}
	.mifc_block dl dd a.mifcb_collect_btn:hover{
	-moz-box-shadow: 0px 0px 8px #d3d3d3;
	-webkit-box-shadow: 0px 0px 8px #d3d3d3;
	box-shadow: 0px 0px 8px #d3d3d3;
	}
	.mifc_block dl dd a.mifcb_addtocart_btn{display: inline-block;padding:5px 10px;border: 1px solid #F2F2F2;background: url(../img/add_to_cart_btn_bg.png) no-repeat 10px center;text-indent: 2.5em;font-size: 11px;float: right;}
	.mifc_block dl dd a.mifcb_addtocart_btn:hover{
		background-image: url(../img/add_to_cart_btn_bg_active.png);
	-moz-box-shadow: 0px 0px 8px #d3d3d3;
	-webkit-box-shadow: 0px 0px 8px #d3d3d3;
	box-shadow: 0px 0px 8px #d3d3d3;
	}